@model physioCard.Domain.Doctor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}
<link rel="stylesheet" href="~/css/formDesign.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/profileSite.css" asp-append-version="true" />
<div class="container">
    @*<br />
    <h1>My Profile</h1>
    <hr /><br />*@

    <div>
        @*<div class="change-password-flex">
        <div class="change-password-item1"><a asp-controller="Doctor" asp-action="Changepassword" class="btn btn-dark" style="width: 100%">Change Password</a></div>
        </div>
        <br/>*@
        <div class="shadow-sm card p-3 mb-5 rounded">
            <div class="row">
                <div class="col-8">
                    <div class="heading"><span class="material-icons px-2" id="info" style="font-size: 18px;">info</span>Personal Info</div>
                </div>
                <div class="col-4" align="right">
                    @*<a asp-controller="Doctor" asp-action="EditDoctor"><span class="material-icons e-icon btn btn-outline-dark" title="Edit">mode_edit</span></a>
                    <a asp-controller="Doctor" asp-action="Changepassword"><span class="material-icons e-icon btn btn-outline-dark" title="Change Password">key</span></a>*@
                    <a href="#" data-bs-toggle="modal" data-bs-target="#editDoc" data-id="@ViewBag.Doctor.docID"><span class="material-icons e-icon btn btn-outline-dark" title="Edit">mode_edit</span></a>
                    <a asp-controller="Doctor" asp-action="Changepassword"><span class="material-icons e-icon btn btn-outline-dark" title="Change Password">key</span></a>
                </div>
            </div>
            @*<div class="ps-5">*@
            <div class="flex-container">
                <div class="flex-item item1">
                    <a href="../@ViewBag.Doctor.photo">
                        <img src="../@ViewBag.Doctor.photo" @*class="img-fluid"*@ />
                    </a>
                </div>
                <div class="flex-item item2">
                    @*<br />*@
                    <h1>Dr. @ViewBag.Doctor.fname @ViewBag.Doctor.lname</h1>
                    <dl>
                        <dt>Email</dt>
                        <dd>@ViewBag.Doctor.email</dd>
                        <dt>Contact No.</dt>
                        <dd>@ViewBag.Doctor.contactno</dd>
                    </dl>
                </div>
            </div>
            @*</div>*@
        </div>
        <div class="shadow-sm card p-3 mb-5 rounded">
            <div class="heading"><span class="material-icons px-2" id="info" style="font-size: 18px;">info</span>Clinics Info</div>
            <div class="ps-4">
                <ul type="none">
                    @for (int i = 0; i < ViewBag.cID.Length; i++)
                    {
                        <li><a class="text-black mylink" id="delClnc" style="text-decoration: none; font-size: 20px;" href="#" data-bs-toggle="modal" data-bs-target="#delClinic" data-id="@ViewBag.cID[i]">@ViewBag.cName[i]  </a></li>
                    }
                </ul>
            </div>
        </div>
        <div>
            <a asp-controller="DashBoard" asp-action="DashBoard" class="btn btn-dark">Back To DashBoard</a>
        </div>
    </div>
</div>

<!-- Modal For Update Doctor -->
@*<div class="modal" id="editDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Update Your Info</h4>
            </div>
            <form asp-action="Changepassword" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="form-outline">
                                    <input type="password" asp-for="oldpassword" id="password1" class="form-control" placeholder=" " />
                                    <label class="form-label">Old Password </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="form-outline">
                                    <input type="password" asp-for="password" onchange="return chkPwd()" id="password" class="form-control pwd" placeholder=" " />
                                    <label class="form-label">New Password </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span asp-validation-for="password" id="errPwd" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="form-outline">
                                    <input type="password" id="Confirmpassword" class="form-control" placeholder=" " asp-for="confirmpassword" />
                                    <label class="form-label" asp-for="confirmpassword">Confirm New Password </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span id="errConfirmPwd" asp-validation-for="confirmpassword" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Delete" id="DelClinic" class="btn btn-danger" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>*@

<!-- Modal For Remove Clinic -->
<div class="modal" id="delClinic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Clinic Info</h4>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="flex-container">
                        <div class="flex-item fi1 item1">
                            <a href="" id="logoLink">
                                <img id="logo" style="border-radius : 50%; border: 1px solid #ddd; padding: 5px; width: 200px; height: 200px;" />
                            </a>
                        </div>
                        <div class="flex-item fi2 item2">
                            <h1 id="name" name="name"></h1>
                            <dl>
                                <dt>Address</dt>
                                <dd id="addr" name="address"></dd>
                                <dt>Contact No.</dt>
                                <dd id="contact" name="contactno"></dd>
                                <dt>GST No.</dt>
                                <dd id="Gst" name="GSTno"></dd>
                            </dl>
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Delete" id="DelClinic" class="btn btn-danger" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal For Update Doctor -->
<div class="modal" id="editDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Update Your Info</h4>
            </div>
            <form asp-action="EditDoctor" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="form-outline">
                                    <input asp-for="fname" class="form-control" placeholder=" " id="custom" value="@ViewBag.Doctor.fname" />
                                    <label class="form-label">First Name </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="form-outline">
                                    <input asp-for="lname" class="form-control" id="custom" placeholder=" " value="@ViewBag.Doctor.lname" />
                                    <label class="form-label">Last Name </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span asp-validation-for="fname" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <span asp-validation-for="lname" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="form-outline">
                            <input asp-for="email" class="form-control" placeholder=" " id="custom" value="@ViewBag.Doctor.email" />
                            <label class="form-label">E-mail </label>
                        </div>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <br />
                    <input type="hidden" asp-for="password" value="Abc@1234" />
                    <input type="hidden" asp-for="confirmPassword" value="Abc@1234" />
                    <input type="hidden" asp-for="photo" value="@ViewBag.Doctor.photo" />
                    <div class="form-group">
                        <div class="form-outline">
                            <input asp-for="contactno" class="form-control" placeholder=" " id="custom" value="@ViewBag.Doctor.contactno" />
                            <label asp-for="contactno" class="form-label">Contact No </label>
                        </div>
                        <span asp-validation-for="contactno" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="form-outline">
                            <input  asp-for="photo_img" type="file" id="photo_img" onchange="return chkImg()" accept="image/*" class="form-control" />
                            <label asp-for="photo_img" class="form-label">Profile Picture </label>
                        </div>
                        <span asp-validation-for="photo_img" id="errImg" class="text-danger"></span><br />
                        <div id="prevImg"><img src="../@ViewBag.Doctor.photo" width="150" /></div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>

    /*.form-outline {
        position: relative;
    }

    .form-label {
        position: absolute;
        top: 0.3rem;
        left: 0.6rem;
        padding-left: 0.3rem;
        cursor: text;
    }

    input:focus ~ .form-label,
    input:not(:placeholder-shown)input:not(:focus) ~ .form-label {
        top: -0.8rem;
        left: 0.5rem;
        font-size: 13px;
        background: linear-gradient(aliceblue, white);
    }

    input[type="file"] ~ .form-label {
        top: -0.8rem;
        left: 0.5rem;
        font-size: 13px;
        background: linear-gradient(aliceblue, #ececec);
    }

    #gender {
        border: 1px solid #dbd5d5;
        border-radius: 4px;
        padding: 5px
    }

    #lgender {
        position: absolute;
        top: 14.25rem;
        left: 8.75rem;
        font-size: 13px;
        background: white;
    }

    span {
        font-size: 14px;
    }*/

    a.mylink:hover::after {
        background: url(https://fonts.gstatic.com/s/i/materialicons/delete/v17/20px.svg);
        background-size: 20px 20px;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
    }

    .fi1 {
        /*padding: 20px 130px 0;*/
        /*justify-content: center;*/
    }

    .fi2 {
        /*justify-content: center;*/
        max-width: 100px;
        margin: 20px 50px 0;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script>
    $(document).ready(function(){
    $('.mylink').mouseover(function() {
    myvar = this.id;
    $('#myIcon '+myvar).show();
    });
    });
    </script>*@
@*client side validation on image and password*@
<script>
    $(document).ready(function() {
        $('ul .mylink').on('click', function() {
            var id = $(this).data("id");
            console.log(id);
            $.ajax({
                type: 'POST',
                url: '/Clinic/getClinicByID/',
                data: { "id": id },
                success: function(response) {
                    $("#logo").attr("src", "../../" + response.logo);
                    console.log(response.logo + " " + response.name + " " + response.address + " " + response.contactno + " ");
                    console.log(response.gsTno);
                    $("#logoLink").attr("href", "../../" + response.logo);

                    document.getElementById("name").innerHTML = response.name;
                    document.getElementById("addr").innerHTML = response.address;
                    document.getElementById("contact").innerHTML = response.contactno;
                    document.getElementById("Gst").innerHTML = response.gsTno;

                    $('#DelClinic').on('click', function() {
                        $.ajax({
                            url: '/Clinic/RemoveClinic/',
                            data: { "id": response.clinicID },
                            success: function() {
                                $.ajax({
                                    url: '/Doctor/ViewProfile'
                                });
                            }
                        });
                    });
                }
            });
        });
    });


    //file must be of Image type only
    function chkImg() {
        var theFile = document.getElementById('photo_img');
        var filePath = theFile.value;
        var fileExt = /(\.jpg|\.jpeg|\.png)$/i;
        if (!fileExt.exec(filePath)) {
            document.getElementById('errImg').innerHTML = "INCLUDE ONLY IMAGE FILE(i.e., .png, .jpg, .jpeg)";
            document.getElementById('errImg').style.color = "#FF0000";
            theFile.value = '';
            return false;
        }
        else {
            if (theFile.files && theFile.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('prevImg').innerHTML = "<img src='" + e.target.result + "' width='150' />";
                };
                reader.readAsDataURL(theFile.files[0]);
            }
        }
    }
</script>