@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Today's Appointment";
}
<div class="container p-3">
    <div class="headline1">
        <h1>Today's Appointments</h1>
    </div>
    <div class="container">
        <table class="table table-hover" id="mytable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Clinic</th>
                    <th align="center">Attendance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.appointments)
                {
                    <tr>
                        <td>@item.fname @item.lname</td>
                        <td>@item.starttime.ToString("HH:mm") - @item.endtime.ToString("HH:mm")</td>
                        <td>@item.name</td>
                        <td>
                            <div class="form-switch">
                                <input type="checkbox" class="form-check-input attenBtn" id="attendance" data-id="@item.appointmentID" checked="@item.attendance_status">
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('table .attenBtn').on('click', function() {
            var id = $(this).data("id");
            var attendance = $(this).is(":checked");
            //console.log(id);
            //console.log($(this).is(":checked"));
            $.ajax({
                type: 'POST',
                url: '/Attendance/makeAttendance/',
                data: { "attendance": attendance, "appointmentID": id }
            })
        });
    }
    );
</script>
<style>
    table {
        /*table-layout: fixed;*/
        border-collapse: collapse;
        margin: 0 auto;
        background: white;
        border-radius: 25px;
    }

    .headline1 h1 {
        text-align: left;
        padding-bottom: 10px;
        font-family: 'Spline Sans Mono', monospace;
        color: #0b5788;
        font-weight: 600;
    }

    thead tr {
        background: #0b5788;
    }

    th {
        background: black;
        color: #fff;
        font-weight: 600;
    }

    td, th {
        /*padding: 12px;*/
        /*border: 1px solid #ccc;*/
        text-align: center;
    }

    @@media(max-width: 415px) {

        body {
            font-size: 12px;
        }
    }

    @@media(max-width: 280px) {

        .headline1 h1 {
            font-size: 20px;
        }

        body {
            font-size: 9px;
        }
    }
</style>