@model physioCard.Domain.Patient
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/profileSite.css" asp-append-version="true" />
<div class="container">
    @*<h1>Patient Details</h1>
    <hr /><br />*@
    <div>
        <div class="shadow-sm card p-3 mb-5 rounded">
            @*<div class="ps-4">*@
            <div class="flex-container">
                <div class="flex-item item1">
                    @*<br />*@
                    <a href="~/@Model.photo">
                        <img src="~/@Model.photo" style="border-radius : 50%; border: 1px solid #ddd; padding: 5px; width: 200px; height: 200px;" />
                    </a>
                </div>
                @*<div class="col-1"></div>*@
                <div class="flex-item item2">
                    <h2>@Model.fname @Model.lname</h2>
                    @*<div class="row">*@
                        <dl>
                            <dt>Gender</dt>
                            <dd>@Model.gender</dd>
                            <dt>Age</dt>
                            <dd>@Model.age</dd>
                            <dt>Address</dt>
                            <dd>@Model.address</dd>
                        </dl>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="shadow-sm card p-3 mb-5 rounded">
        <div class="ps-2">
            <h3 class="headline"><span class="material-icons px-2" id="info" style="font-size: 18px;">info</span>Medical Info</h3>
            <div class="row p-2">
                <dl>
                    <dt>Chief Complains</dt>
                    <dd>@Model.chief_complains</dd>
                    <dt>Medical History</dt>
                    <dd>@Model.medical_History</dd>
                    <dt>Register Date</dt>
                    <dd>@Model.registerdate.ToString("dd-MM-yyyy")</dd>
                    <dt>Clinic</dt>
                    <dd>@Model.clinicname</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="shadow-sm card p-3 mb-5 rounded">
        <div class="ps-2">
            <h3 class="headline"><span class="material-icons px-2" id="info" style="font-size: 18px;">info</span>Contact Info</h3>
            <div class="row p-2">
                <dl>
                    <dt>E-Mail</dt>
                    <dd>@Model.email</dd>
                    <dt>Contact No.</dt>
                    <dd>@Model.contactno</dd>
                </dl>
            </div>
        </div>
    </div>
    <div>
        <a asp-controller="Patient" asp-action="showPatient" class="btn"><span><< Back</span></a>
        @*<a asp-controller="Patient" asp-action="editPatient" asp-route-id="@Model.patientID" class="btn btn-light btn-outline-dark">Edit</a>*@
    </div>
</div>
</div>