@model physioCard.Domain.Appointment
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
@{
    ViewData["Title"] = "Show Appointment";
    if (ViewBag.statusupdate == true)
    {
        <script>
            swal({
                title: "Success",
                text: "Appointment Reschedule Successfully",
                type: "success",
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            });
        </script>
    }
    if (ViewBag.statusupdate == false)
    {
        <script>
            swal({
                title: "Failed",
                text: "Appointment Reschedulation Failed",
                type: "error",
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            });
        </script>
    }
    if (ViewBag.clashstatus == true)
    {
        <script>
            swal({
                title: "Failed",
                text: "Appointment Reschedule Failed Due To Timing Clashes With Other Appointment. Reschedule Again.",
                type: "error",
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            });
        </script>
    }
}
@{
    if (ViewBag.statusdelete == true)
    {
        <script>
            swal({
                title: "Success",
                text: "Appointment Cancelled Successfully",
                type: "success",
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            });
        </script>
    }
    if (ViewBag.statusdelete == false)
    {
        <script>
            swal({
                title: "Failed",
                text: "Appointment Cancellation Failed",
                type: "error",
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            });
        </script>
    }
}
<link rel="stylesheet" href="~/css/formDesign.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tableSite.css" asp-append-version="true" />
<div class="container p-3">
    <div class="search-item">
        <div class="search-flex">
            <div class="sitem s2">
                <div class="headline1">
                    <h1>Your Appointments</h1>
                </div>
            </div>
            <div class="sitem s1">
                <input class="form-control" id="myfilter" type="search" placeholder="Search" aria-label="Search" onkeyup="search()">
                @*<label class="form-label"><span class="material-icons">search</span></label>*@
            </div>
        </div>
    </div>

    <div class="navigate">
        <div align="right">
            <a class="btn btn-nav" id="prev" data-id="@ViewBag.did" align="center"> < </a>
            <a class="btn btn-nav" id="next" data-id="@ViewBag.did" align="center"> > </a>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover" id="mytable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Clinic</th>
                    <th></th>
                </tr>
            </thead>
            @*<tbody id="setAppointments">
            </tbody>*@
            <tbody id="setAppointments">
                @foreach (var item in ViewBag.appointments)
                {
                    <tr>
                        <td data-label="Name">@item.fname @item.lname</td>
                        <td data-label="Date">@item.date_start.ToString("dd MMM yyyy")</td>
                        <td data-label="Time">@item.starttime.ToString("HH:mm") - @item.endtime.ToString("HH:mm")</td>
                        <td data-label="Clinic">@item.name</td>
                        <td data-label="Operations">
                            <a href="#" class="edit" data-bs-toggle="modal" data-bs-target="#reschedule" data-id="@item.appointmentID">Reschedule</a> |
                            <a href="#" data-id="@item.appointmentID" title="Cancel Appointment" class="delete" data-bs-toggle="modal" data-bs-target="#delete">Cancel</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="reschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Reschedule Appointment</h4>
            </div>
            <form method="post" asp-action="rescheduleAppointment">
                <div class="modal-body">
                    <input type="number" class="form-control" id="id" hidden="hidden" asp-for="appointmentID" />
                    <input type="number" class="form-control" id="patientID" hidden="hidden" asp-for="patientID" />
                    <input type="number" class="form-control" id="doctorID" hidden="hidden" asp-for="doctorID" />

                    <div class="form-group">
                        <div class="form-outline">
                            <input type="date" class="form-control custom3" id="date" asp-for="date_start">
                            <label class="form-label">Date</label>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="date_start"></span>
                    <br />

                    <div class="form-group">
                        <div class="form-outline">
                            <input type="time" class="form-control custom3" id="time" asp-for="starttime">
                            <label class="form-label">Time</label>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="starttime"></span>
                    <br />

                    <div class="form-group">
                        <div class="form-outline">
                            <select class="form-control custom3" id="sessiontime" asp-for="sessiontime">
                                <option value="" selected="selected" disabled="disabled">Select Session Duration</option>
                                <option value="00:30">30 Minutes</option>
                                <option value="00:45">45 Minutes</option>
                                <option value="01:00">1 Hour</option>
                                <option value="01:15">1 Hour 15 Minutes</option>
                                <option value="01:30">1 Hour 30 Minutes</option>
                                <option value="02:00">2 Hours</option>
                            </select>
                            <label class="form-label">Sessiom Duration</label>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="sessiontime"></span>
                    <br />

                    <div class="form-group">
                        <div class="form-outline">
                            <input class="form-control custom3" id="cost" asp-for="cost">
                            <label class="form-label">Cost Per Session</label>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="cost"></span>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Reschedule" class="btn btn-primary" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal DELETE-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Do you want to cancel appointment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="del">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const search = () => {
        let filter = document.getElementById('myfilter').value.toUpperCase();
        let table = document.getElementById('mytable');
        let tr = table.getElementsByTagName('tr');

        for (var i = 0; i < tr.length; i++) {
            let td = tr[i].getElementsByTagName('td')[0];

            if (td) {
                let textvalue = td.textContent || td.innerHTML;
                if (textvalue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    //function getdata()
    //{
    // var id = document.getElementById('edit').getdata("id");
    // $.ajax({
    // type: 'POST',
    // url: 'Appointment/getAppointmentByID/',
    // data: {"appointmentID" : id},
    // success: function (response){
    // $('#reschedule #id').value(response.appointmentID);
    // $('#reschedule #date').value(response.date_start);
    // $('#reschedule #time').value(response.starttime);
    // $('#reschedule #sessiontime').value(response.sessiontime);
    // $('#reschedule #cost').value(response.cost);
    // }
    // })
    //}
</script>
<script>

    function monthDiff(dateFrom, dateTo) {
        return dateTo.getMonth() - dateFrom.getMonth() +
            (12 * (dateTo.getFullYear() - dateFrom.getFullYear()))
    }

    $(document).ready(function() {
        var currDate = new Date();
        var dt = new Date();
        //alert(dt);
        //$.ajax({
        //    type: 'POST',
        //    url: '/Appointment/getCurrMonthAppointment/',
        //    success: function(response) {
        //        var tbl = document.getElementById('mytable').getElementsByTagName('tbody')[0];
        //        for (var i = 0; i < response.length; i++) {
        //            var d = new Date(response[i].date_start);
        //            var st = new Date(response[i].starttime);
        //            var et = new Date(response[i].endtime);
        //            tbl.insertRow().innerHTML = '<td data-label="Name">' + response[i].fname + ' ' + response[i].lname + '</td>' +
        //                '<td data-label="Date">' + d.getDate() + ' ' + d.toLocaleString('default', { month: 'short' }) + ' ' + d.getFullYear() + '</td>' +
        //                '<td data-label="Time">' + st.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '-' + et.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '</td>' +
        //                '<td data-label="Clinic">' + response[i].name + '</td>' +
        //                '<td data-label="Operations">' +
        //                '<a href="#" class="edit" data-bs-toggle="modal" data-bs-target="#reschedule" data-id="' + response[i].appointmentID + '">Reschedule</a> |' +
        //                '<a href="#" data-id="' + response[i].appointmentID + '" title="Cancel Appointment" class="delete" data-bs-toggle="modal" data-bs-target="#delete">Cancel</a>' +
        //                '</td>';
        //            //$("#setAppointments").append(data);
        //        }
        $('table .edit').on('click', function() {
            var id = $(this).data("id");
            //console.log(id);
            $.ajax({
                type: 'POST',
                url: '/Appointment/getAppointmentByID/',
                data: { "appointmentID": id },
                success: function(response) {

                    //console.log(response.appointmentID);

                    //$('#reschedule #id').val(response.appointmentID);
                    //$('#reschedule #date').val(response.date_start);
                    //$('#reschedule #time').val(response.starttime);
                    //$('#reschedule #sessiontime').val(response.sessiontime);
                    //$('#reschedule #cost').val(response.cost);

                    //$('#reschedule #id').val(response.appointmentID);
                    //$('#reschedule #cost').val(response.cost);

                    var tempid = JSON.stringify(response.appointmentID);
                    //console.log(tempid);
                    document.getElementById("id").value = tempid;

                    var temppid = JSON.stringify(response.patientID);
                    document.getElementById("patientID").value = temppid;

                    var tempdid = JSON.stringify(response.doctorID);
                    document.getElementById("doctorID").value = tempdid;

                    //console.log(response.date_start);
                    var tempdate = JSON.stringify(response.date_start);
                    //console.log(tempdate.substring(1,11));
                    document.getElementById("date").value = tempdate.substring(1, 11);

                    var tempstarttime = JSON.stringify(response.starttime);
                    //console.log(response.starttime);
                    //console.log(tempstarttime.substring(12,20));
                    document.getElementById("time").value = tempstarttime.substring(12, 20);

                    var tempsessiontime = JSON.stringify(response.sessiontime);
                    //console.log(tempsessiontime.substring(12,17));
                    document.getElementById("sessiontime").value = tempsessiontime.substring(12, 17);

                    var tempcost = JSON.stringify(response.cost);
                    //console.log(tempid);
                    document.getElementById("cost").value = tempcost;

                }
            })
        });

        $('table .delete').on('click', function() {
            var id = $(this).data("id");
            //console.log(id);
            $('#del').on('click', function() {
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/deleteAppointment/',
                    data: { "appointmentID": id },
                    success: function() {
                        swal({
                            title: "Success",
                            text: "Appointment Cancelled Successfully",
                            type: "success",
                            timer: 3000,
                            showCancelButton: false,
                            showConfirmButton: false
                        });
                        window.location = "/Appointment/showAppointment";
                    }
                })
            });
        });

        $('#prev').on('click', function() {
            //var id = $(this).data("id");
            dt.setMonth(dt.getMonth() - 1);
            if (monthDiff(dt, currDate) == 0) {
                //alert(dt);
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/getCurrMonthAppointment/',
                    success: function(response) {
                        var tbl = document.getElementById('mytable').getElementsByTagName('tbody')[0];
                        tbl.innerHTML = " "
                        for (var i = 0; i < response.length; i++) {
                            var d = new Date(response[i].date_start);
                            var st = new Date(response[i].starttime);
                            var et = new Date(response[i].endtime);
                            tbl.insertRow().innerHTML = '<td data-label="Name">' + response[i].fname + ' ' + response[i].lname + '</td>' +
                                '<td data-label="Date">' + d.getDate() + ' ' + d.toLocaleString('default', { month: 'short' }) + ' ' + d.getFullYear() + '</td>' +
                                '<td data-label="Time">' + st.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '-' + et.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '</td>' +
                                '<td data-label="Clinic">' + response[i].name + '</td>' +
                                '<td data-label="Operations">' +
                                '<a href="#" class="edit" data-bs-toggle="modal" data-bs-target="#reschedule" data-id="' + response[i].appointmentID + '">Reschedule</a> |' +
                                '<a href="#" data-id="' + response[i].appointmentID + '" title="Cancel Appointment" class="delete" data-bs-toggle="modal" data-bs-target="#delete">Cancel</a>' +
                                '</td>';
                            //$("#setAppointments").append(data);
                        }
                        $('table .edit').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $.ajax({
                                type: 'POST',
                                url: '/Appointment/getAppointmentByID/',
                                data: { "appointmentID": id },
                                success: function(response) {

                                    //console.log(response.appointmentID);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #date').val(response.date_start);
                                    //$('#reschedule #time').val(response.starttime);
                                    //$('#reschedule #sessiontime').val(response.sessiontime);
                                    //$('#reschedule #cost').val(response.cost);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #cost').val(response.cost);

                                    var tempid = JSON.stringify(response.appointmentID);
                                    //console.log(tempid);
                                    document.getElementById("id").value = tempid;

                                    var temppid = JSON.stringify(response.patientID);
                                    document.getElementById("patientID").value = temppid;

                                    var tempdid = JSON.stringify(response.doctorID);
                                    document.getElementById("doctorID").value = tempdid;

                                    //console.log(response.date_start);
                                    var tempdate = JSON.stringify(response.date_start);
                                    //console.log(tempdate.substring(1,11));
                                    document.getElementById("date").value = tempdate.substring(1, 11);

                                    var tempstarttime = JSON.stringify(response.starttime);
                                    //console.log(response.starttime);
                                    //console.log(tempstarttime.substring(12,20));
                                    document.getElementById("time").value = tempstarttime.substring(12, 20);

                                    var tempsessiontime = JSON.stringify(response.sessiontime);
                                    //console.log(tempsessiontime.substring(12,17));
                                    document.getElementById("sessiontime").value = tempsessiontime.substring(12, 17);

                                    var tempcost = JSON.stringify(response.cost);
                                    //console.log(tempid);
                                    document.getElementById("cost").value = tempcost;

                                }
                            })
                        });

                        $('table .delete').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $('#del').on('click', function() {
                                $.ajax({
                                    type: 'POST',
                                    url: '/Appointment/deleteAppointment/',
                                    data: { "appointmentID": id },
                                    success: function() {
                                        swal({
                                            title: "Success",
                                            text: "Appointment Cancelled Successfully",
                                            type: "success",
                                            timer: 3000,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        });
                                        window.location = "/Appointment/showAppointment";
                                    }
                                })
                            });
                        });
                    }
                });
            } else {
                //alert(dt + " " + id);
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/getMonthlyAppointments/',
                    data: { "mDate": dt.toDateString() },
                    success: function(response) {
                        var tbl = document.getElementById('mytable').getElementsByTagName('tbody')[0];
                        tbl.innerHTML = " ";
                        for (var i = 0; i < response.length; i++) {
                            var d = new Date(response[i].date_start);
                            var st = new Date(response[i].starttime);
                            var et = new Date(response[i].endtime);
                            tbl.insertRow().innerHTML = '<td data-label="Name">' + response[i].fname + ' ' + response[i].lname + '</td>' +
                                '<td data-label="Date">' + d.getDate() + ' ' + d.toLocaleString('default', { month: 'short' }) + ' ' + d.getFullYear() + '</td>' +
                                '<td data-label="Time">' + st.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '-' + et.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '</td>' +
                                '<td data-label="Clinic">' + response[i].name + '</td>' +
                                '<td data-label="Operations">' +
                                '<a href="#" class="edit" data-bs-toggle="modal" data-bs-target="#reschedule" data-id="' + response[i].appointmentID + '">Reschedule</a> |' +
                                '<a href="#" data-id="' + response[i].appointmentID + '" title="Cancel Appointment" class="delete" data-bs-toggle="modal" data-bs-target="#delete">Cancel</a>' +
                                '</td>';
                            //$("#setAppointments").append(data);
                        }
                        $('table .edit').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $.ajax({
                                type: 'POST',
                                url: '/Appointment/getAppointmentByID/',
                                data: { "appointmentID": id },
                                success: function(response) {

                                    //console.log(response.appointmentID);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #date').val(response.date_start);
                                    //$('#reschedule #time').val(response.starttime);
                                    //$('#reschedule #sessiontime').val(response.sessiontime);
                                    //$('#reschedule #cost').val(response.cost);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #cost').val(response.cost);

                                    var tempid = JSON.stringify(response.appointmentID);
                                    //console.log(tempid);
                                    document.getElementById("id").value = tempid;

                                    var temppid = JSON.stringify(response.patientID);
                                    document.getElementById("patientID").value = temppid;

                                    var tempdid = JSON.stringify(response.doctorID);
                                    document.getElementById("doctorID").value = tempdid;

                                    //console.log(response.date_start);
                                    var tempdate = JSON.stringify(response.date_start);
                                    //console.log(tempdate.substring(1,11));
                                    document.getElementById("date").value = tempdate.substring(1, 11);

                                    var tempstarttime = JSON.stringify(response.starttime);
                                    //console.log(response.starttime);
                                    //console.log(tempstarttime.substring(12,20));
                                    document.getElementById("time").value = tempstarttime.substring(12, 20);

                                    var tempsessiontime = JSON.stringify(response.sessiontime);
                                    //console.log(tempsessiontime.substring(12,17));
                                    document.getElementById("sessiontime").value = tempsessiontime.substring(12, 17);

                                    var tempcost = JSON.stringify(response.cost);
                                    //console.log(tempid);
                                    document.getElementById("cost").value = tempcost;

                                }
                            })
                        });

                        $('table .delete').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $('#del').on('click', function() {
                                $.ajax({
                                    type: 'POST',
                                    url: '/Appointment/deleteAppointment/',
                                    data: { "appointmentID": id },
                                    success: function() {
                                        swal({
                                            title: "Success",
                                            text: "Appointment Cancelled Successfully",
                                            type: "success",
                                            timer: 3000,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        });
                                        window.location = "/Appointment/showAppointment";
                                    }
                                })
                            });
                        });
                    }
                });
            }
        });

        $('#next').on('click', function() {
            dt.setMonth(dt.getMonth() + 1);
            //alert(dt);
            if (monthDiff(dt, currDate) == 0) {
                //alert(dt);
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/getCurrMonthAppointment/',
                    success: function(response) {
                        var tbl = document.getElementById('mytable').getElementsByTagName('tbody')[0];
                        tbl.innerHTML = " "
                        for (var i = 0; i < response.length; i++) {
                            var d = new Date(response[i].date_start);
                            var st = new Date(response[i].starttime);
                            var et = new Date(response[i].endtime);
                            tbl.insertRow().innerHTML = '<td data-label="Name">' + response[i].fname + ' ' + response[i].lname + '</td>' +
                                '<td data-label="Date">' + d.getDate() + ' ' + d.toLocaleString('default', { month: 'short' }) + ' ' + d.getFullYear() + '</td>' +
                                '<td data-label="Time">' + st.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '-' + et.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '</td>' +
                                '<td data-label="Clinic">' + response[i].name + '</td>' +
                                '<td data-label="Operations">' +
                                '<a href="#" class="edit" data-bs-toggle="modal" data-bs-target="#reschedule" data-id="' + response[i].appointmentID + '">Reschedule</a> |' +
                                '<a href="#" data-id="' + response[i].appointmentID + '" title="Cancel Appointment" class="delete" data-bs-toggle="modal" data-bs-target="#delete">Cancel</a>' +
                                '</td>';
                            //$("#setAppointments").append(data);
                        }
                        $('table .edit').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $.ajax({
                                type: 'POST',
                                url: '/Appointment/getAppointmentByID/',
                                data: { "appointmentID": id },
                                success: function(response) {

                                    //console.log(response.appointmentID);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #date').val(response.date_start);
                                    //$('#reschedule #time').val(response.starttime);
                                    //$('#reschedule #sessiontime').val(response.sessiontime);
                                    //$('#reschedule #cost').val(response.cost);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #cost').val(response.cost);

                                    var tempid = JSON.stringify(response.appointmentID);
                                    //console.log(tempid);
                                    document.getElementById("id").value = tempid;

                                    var temppid = JSON.stringify(response.patientID);
                                    document.getElementById("patientID").value = temppid;

                                    var tempdid = JSON.stringify(response.doctorID);
                                    document.getElementById("doctorID").value = tempdid;

                                    //console.log(response.date_start);
                                    var tempdate = JSON.stringify(response.date_start);
                                    //console.log(tempdate.substring(1,11));
                                    document.getElementById("date").value = tempdate.substring(1, 11);

                                    var tempstarttime = JSON.stringify(response.starttime);
                                    //console.log(response.starttime);
                                    //console.log(tempstarttime.substring(12,20));
                                    document.getElementById("time").value = tempstarttime.substring(12, 20);

                                    var tempsessiontime = JSON.stringify(response.sessiontime);
                                    //console.log(tempsessiontime.substring(12,17));
                                    document.getElementById("sessiontime").value = tempsessiontime.substring(12, 17);

                                    var tempcost = JSON.stringify(response.cost);
                                    //console.log(tempid);
                                    document.getElementById("cost").value = tempcost;

                                }
                            })
                        });

                        $('table .delete').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $('#del').on('click', function() {
                                $.ajax({
                                    type: 'POST',
                                    url: '/Appointment/deleteAppointment/',
                                    data: { "appointmentID": id },
                                    success: function() {
                                        swal({
                                            title: "Success",
                                            text: "Appointment Cancelled Successfully",
                                            type: "success",
                                            timer: 3000,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        });
                                        window.location = "/Appointment/showAppointment";
                                    }
                                })
                            });
                        });
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/getMonthlyAppointments/',
                    data: { "mDate": dt.toDateString() },
                    success: function(response) {
                        var tbl = document.getElementById('mytable').getElementsByTagName('tbody')[0];
                        tbl.innerHTML = " ";
                        for (var i = 0; i < response.length; i++) {
                            var d = new Date(response[i].date_start);
                            var st = new Date(response[i].starttime);
                            var et = new Date(response[i].endtime);
                            tbl.insertRow().innerHTML = '<td data-label="Name">' + response[i].fname + ' ' + response[i].lname + '</td>' +
                                '<td data-label="Date">' + d.getDate() + ' ' + d.toLocaleString('default', { month: 'short' }) + ' ' + d.getFullYear() + '</td>' +
                                '<td data-label="Time">' + st.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '-' + et.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) + '</td>' +
                                '<td data-label="Clinic">' + response[i].name + '</td>' +
                                '<td data-label="Operations">' +
                                '<a href="#" class="edit" data-bs-toggle="modal" data-bs-target="#reschedule" data-id="' + response[i].appointmentID + '">Reschedule</a> |' +
                                '<a href="#" data-id="' + response[i].appointmentID + '" title="Cancel Appointment" class="delete" data-bs-toggle="modal" data-bs-target="#delete">Cancel</a>' +
                                '</td>';
                            //$("#setAppointments").append(data);
                        }
                        $('table .edit').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $.ajax({
                                type: 'POST',
                                url: '/Appointment/getAppointmentByID/',
                                data: { "appointmentID": id },
                                success: function(response) {

                                    //console.log(response.appointmentID);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #date').val(response.date_start);
                                    //$('#reschedule #time').val(response.starttime);
                                    //$('#reschedule #sessiontime').val(response.sessiontime);
                                    //$('#reschedule #cost').val(response.cost);

                                    //$('#reschedule #id').val(response.appointmentID);
                                    //$('#reschedule #cost').val(response.cost);

                                    var tempid = JSON.stringify(response.appointmentID);
                                    //console.log(tempid);
                                    document.getElementById("id").value = tempid;

                                    var temppid = JSON.stringify(response.patientID);
                                    document.getElementById("patientID").value = temppid;

                                    var tempdid = JSON.stringify(response.doctorID);
                                    document.getElementById("doctorID").value = tempdid;

                                    //console.log(response.date_start);
                                    var tempdate = JSON.stringify(response.date_start);
                                    //console.log(tempdate.substring(1,11));
                                    document.getElementById("date").value = tempdate.substring(1, 11);

                                    var tempstarttime = JSON.stringify(response.starttime);
                                    //console.log(response.starttime);
                                    //console.log(tempstarttime.substring(12,20));
                                    document.getElementById("time").value = tempstarttime.substring(12, 20);

                                    var tempsessiontime = JSON.stringify(response.sessiontime);
                                    //console.log(tempsessiontime.substring(12,17));
                                    document.getElementById("sessiontime").value = tempsessiontime.substring(12, 17);

                                    var tempcost = JSON.stringify(response.cost);
                                    //console.log(tempid);
                                    document.getElementById("cost").value = tempcost;

                                }
                            })
                        });

                        $('table .delete').on('click', function() {
                            var id = $(this).data("id");
                            //console.log(id);
                            $('#del').on('click', function() {
                                $.ajax({
                                    type: 'POST',
                                    url: '/Appointment/deleteAppointment/',
                                    data: { "appointmentID": id },
                                    success: function() {
                                        swal({
                                            title: "Success",
                                            text: "Appointment Cancelled Successfully",
                                            type: "success",
                                            timer: 3000,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        });
                                        window.location = "/Appointment/showAppointment";
                                    }
                                })
                            });
                        });
                    }
                });
            }
        });
    });
</script>
<style>
    span {
        font-size: 13.5px;
    }
</style>